body, html, #root{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*justify-content: space-between;*/
}